# FOLDERS ######################################################################

node_modules
coverage
dist
ignore

# FILES ########################################################################

.env
TODO.md
prisma/main/ERD.svg
prisma/audit/ERD.svg

pnpm-lock.yaml
yarn.lock
launch.json